<style>
h2 {
  color: #2E5C84;
  font-size: 17px;
  font-weight: bold;
  /* margin-bottom: 1.8em; */
  line-height: 1.8em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: normal;
}
</style>
<div class="container">
  <div class="container_inner default_template_holder clearfix page_container_inner" style="padding-top:60px">
    <div class="two_columns_75_25 background_color_sidebar grid2 clearfix">
      <div class="column1">
        <div class="column_inner">
         <!-- <p>
            Summary </p>-->
         
          <div ng-repeat="corporateCommercial in corporateCommercial">
          <h2>{{corporateCommercial.name}}</h2>
          <p>
              {{corporateCommercial.detail}}
          </p>
          <p>{{corporateCommercial.subHeading}}</p>
          <ul>
            <li ng-repeat="subHeadingPoint in corporateCommercial.subHeadingPoints">{{subHeadingPoint}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
